@import "src/assets/variables";

.break::before {
  content: "\a";
  white-space: pre;
}

.square {
  font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
  margin: 2px;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  cursor: pointer;
  background-color: $primary-color;
  border-radius: 4px;
  color: white;

  &:nth-child(2) {
    background-color: $secondary-color;
    display: none;
  }
}

.show__user-id {
  .square:nth-child(1) {
    display: none;
  }

  .square:nth-child(2) {
    display: inline-flex;
  }
}
